<%- include('./header.ejs') %>
<!-- <section style="margin-top: 86px;">
    <img style="width: 100%; height: 500px;"
        src="/image/about.jfif"
        alt="">
</section> -->
<br><br><br><br>

<section style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>ABOUT POST GRADUATE <br> DIPLOMA IN <br> MANAGEMENT (PGDM)</h1>
                    <p>PGDM or the Post Graduate Diploma in Management is a 2-year programme offered by autonomous b-schools in India. PGDM is considered equivalent to the MBA programme, however, the fees of PGDM courses is quite high as compared to the MBA programmes offered by state and central universities. PGDM is also offered in distance, and part-time modes and the duration of these courses varies from institute to institute. Some institutes offer part-time PGDM programme for a duration of two-years, whereas, others offer three-year or flexible programmes. Although PGDM is a PG diploma course, the career prospects for those who pursue this course are very bright
                    </p>
                </div>
                <div class="col-md-1">
                    
                </div>
                <div class="col-md-4">
                    <img style="width: 80%;" src="/../image/logo (1).png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>




<%- include('./footer.ejs') %>