<br><br><br>
<div class="container-fluid text-white bg-dark">
  <div class="container">
    <div class="row footer">
      <div class="col-md-4 mt-5">
        <h3>ABOUT US</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="col-md-4 mt-5">
        <h3>CONTACT</h3>
        <ul>
          <li>Gole ka mandir, Station road</li>
          <li>admissionmits@gmail.com</li>
          <li>admissionmits@gmail.com</li>
          <li>+91 8871482503</li>
        </ul>
      </div>
      <div class="col-md-4 mt-5">
        <h3>OPENING HOURS</h3>
        <table class="table text-center text-white">
          <tr class="margim-right">
            <td>Mon - Thu:</td>


            <td>8am - 9pm</td>

          </tr>
          <tr>
            <td>Fri - Sat:</td>
            <td>8am - 1pm</td>
          </tr>
          <tr>
            <td>Sunday:</td>
            <td>9am - 10pm</td>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-warning">
  <div class="">
    <div class="row">
      <div class="col-12">

        <div class="footer__copyright text-center mt-3 text-white">
          <p> © 2023 ADMISSION PORTAl , All Rights Reserved. Design By
            Kajal Shivhare</p>
        </div>
      </div>
    </div>
  </div>

</div>