<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--my css-->
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon"
        href="https://thumbs.dreamstime.com/b/register-now-button-vector-illustration-orange-round-web-icon-white-background-121331887.jpg">
    <style>
        @media only screen and (max-width: 1400px) {
            .col-lg-5 img {
                width: 368px;
            }
        }
    </style>
</head>

<body>
    <section style="background-color: #dee2e685;">
        <div class="container"><br><br>
            <div class="row d-flex justify-content-center align-items-center h-100">

                <div class=" col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0"><br>
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="/image/image5.jpg" alt="login" class="img"
                                    style="border-radius: 1rem 0 0 1rem;">
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 text-black">
                                    <div class="d-flex align-items-center pb-1">
                                        <img src="/../image/logo (1).png" class="register_logo" width="120px"
                                            height="120px" alt="....">
                                    </div>
                                    <h4 class="text-center log_hed mb-3 pb-3" style="color: black;">Register Here</h4>
                                    <% if(message.length> 0){ %>
                                        <div class="alert alert-success">
                                            <%= message %>
                                        </div>
                                        <% } %>
                                            <form class="pt-4" action="/insert" method="post"
                                                enctype="multipart/form-data">
                                                <div class="form-group mb-4">
                                                    <input style="color: black;" type="text" name="n"
                                                        class="form-control form-control-lg" placeholder="name">
                                                </div>
                                                <div class="form-group mb-4">
                                                    <input style="color: black;" type="text" name="e"
                                                        class="form-control form-control-lg" placeholder="email">
                                                </div>
                                                <div class="form-group mb-4">
                                                    <input style="color: black;" type="number" name="p_number"
                                                        class="form-control form-control-lg" placeholder="phone number">
                                                </div>
                                                <div class="form-group mb-4">
                                                    <input style="color: black;" type="password" name="p"
                                                        class="form-control form-control-lg" placeholder="password">
                                                </div>
                                                <div class="form-group mb-4">
                                                    <input style="color: black;" type="password" name="c"
                                                        class="form-control form-control-lg"
                                                        placeholder="confirm_password">
                                                </div>
                                                <input style="color: black;" type="checkbox" onclick="myFunction()">
                                                <span> Show Password</span>

                                                <div class="form-group my-2">
                                                    <label class="form-label">Profile Picture</label>
                                                    <input style="color: black;" type="file" name="image"
                                                        class="form-control">
                                                </div>
                                                <br>
                                                <div class="form-group text-center">
                                                    <button type="submit" class="btn btn-lg btn-block form-control"
                                                        style="background: black; color:#ffff;">Register</button>
                                                    <br>
                                                    <div class="mt-4">
                                                        <span class=" text-center pt-3"> HAVE AN ACCOUNT?</span>
                                                        <a href="/" style="color: black;">LOGIN NOW</a>

                                                    </div>
                                                </div>
                                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--row end-->
        </div><!--container end-->
        <br><br>

    </section>


</body>

</html>